<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login User</title>
  </head>
  <body>
    <h1>User Login</h1>
    <form action="/login" method="POST">
      <input type="email" placeholder="Email" name="email" />
      <input type="password" placeholder="Password" name="password" />
      <input type="submit" value="Login In" />
      <button>
        <a href="/">Back</a>
      </button>
    </form>
    <div>
      <a href="/auth/google">Login With Google</a>
      <a href="/auth/github/callback">Login With Github</a>
    </div>
  </body>
</html>
